.Error {
  background-color: palevioletred;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #242424
}

.Error > div {
  margin: 5px;
}
